<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <connectionStrings>
    <add name="toohuadbases" connectionString="Server=118.178.59.106;Database=Elink56_DataBase_2017;uid=sa;pwd=Dc198668" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="caterDomain" value="oa.elink56.cn" />
    <add key="FilesServerDomain" value="file.betterservice.com" />
    <add key="saveServerPath" value="/wmsSaveServer/" />
    <add key="ActionPushBool" value="true" />
    <add key="myshipskey" value="7de8e865e7cf4c2fac8a395acde1ee05" />
    <add key="myshipapiurl" value="api.myships.com/DataApiServer" />
  </appSettings>

  <system.web>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="435D9CC99471D1E7C70FFEBA5EC71F28048BF9016605B82CC69B091FD317B294" validationKey="25C5D98CE093E77C2F886A6D8C6DA8FBC77CD764A1BF49E5D30CD123C5E19553"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
  </system.web>
</configuration>